footer {
  background: #0d0659;
  margin-top: 7rem;
}

.wpress {
  color: var(--text-color-white-ag, #fff);
  text-align: center;
  /* Headline/H5-M */
  font-family: Euclid Circular A;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  padding-top: 56px;
}

.wpress2 {
  color: var(--text-color-white-ag, #fff);
  text-align: center;
  font-family: Euclid Circular A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
}

.buy-button {
  width: 328px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  border-radius: 16px;
  background: var(--text-color-white-ag, #fff);
  color: var(--violet-500, #705df2);
  text-align: center;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-family: Euclid Circular A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 16px;
  margin-top: 40px;
}

.footer-line {
  width: 360px;
  height: 1px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: var(--transparent-basic-white-8, rgba(255, 255, 255, 0.08));
  margin-top: 64px;
}

.book-logo-footer {
  width: 38.4px;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 94px;
}

.footer-bnetic {
  color: var(--text-color-white-ag, #fff);
  font-family: Euclid Circular A;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 10px;
}

.bnetic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin-top: 48px;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 16px;
}

.nav {
  color: var(--text-color-white-ag, #fff);
  font-family: Euclid Circular A;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-top: 72px;
  margin-bottom: 32px;
  text-align: center;
}

.nav-home {
  color: var(--Basic-400, #e4e9f2);
  font-family: Euclid Circular A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 16px;
}

.menu {
  color: var(--text-color-white-ag, #fff);
  font-family: Euclid Circular A;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-top: 56px;
  margin-bottom: 32px;
  text-align: center;
}

.privacy {
  color: var(--Basic-400, #e4e9f2);
  font-family: Euclid Circular A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.support-footer {
  color: var(--text-color-white-ag, #fff);
  font-family: Euclid Circular A;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 32px;
}

.support-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 16px;
}

.company-footer {
  color: var(--Basic-400, #e4e9f2);
  font-family: Euclid Circular A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer-line2 {
  width: 360px;
  height: 1px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: var(--transparent-basic-white-8, rgba(255, 255, 255, 0.08));
  margin-top: 32px;
}

.icon-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 102px;
  gap: 20px;
  margin-top: 32px;
}

.copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  gap: 5px;
  padding-bottom: 25px;
}

.bnetic-copy {
  color: var(--Basic-400, #e4e9f2);
  /* Subtitle/S2-R */
  font-family: Euclid Circular A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.respo-footer {
  display: none;
}

@media screen and (min-width: 1440px) {
  .buy-button-respo {
    width: 218px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 18px 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    border-radius: 16px;
    background: var(--text-color-white-ag, #fff);
    color: var(--violet-500, #705df2);
    text-align: center;
    -webkit-font-feature-settings: "clig" off, "liga" off;
            font-feature-settings: "clig" off, "liga" off;
    font-family: Euclid Circular A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 611px;
    margin-top: 48px;
  }
  .footer-compo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav {
    margin-top: 0px;
  }
  .bnetic-container {
    margin-top: 0px;
  }
  .menu {
    margin-top: 0px;
  }
  .support-footer {
    margin-top: 0px;
  }
  .footer-bnetic {
    margin-top: 0px;
  }
  .nav-footer {
    margin-left: 139px;
  }
  .footer-support {
    margin-left: 194px;
  }
  .footer-menu {
    margin-left: 194px;
  }
  .nav-container,
  .support-container,
  .menu-container,
  .menu,
  .support-footer {
    text-align: start;
  }
  .copyrights {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 0px;
    margin-left: 112px;
  }
  .icon-footer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-top: 97px;
    margin-right: 112px;
  }
  .footer-line {
    width: 1440px;
    margin-top: 72px;
    margin-bottom: 64px;
  }
  .bnetic-components {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booknetic-wpress {
    color: var(--Basic-400, #e4e9f2);
    /* Subtitle/S1-R */
    font-family: Euclid Circular A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-left: 112px;
    margin-top: 40px;
    display: inline-block;
  }
  .book-logo-footer {
    margin-left: 112px;
  }
  .respo-footer {
    display: inline-block;
  }
  .mobile-footer {
    display: none;
  }
}