.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 26px;
  height: 26px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 1rem;
  margin-top: 10px;
}

.hamburger {
  width: 17px;
  height: 17px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 1rem;
  margin-top: 15px;
  color: #292d32;
}

.bnetic {
  color: var(--Basic-700, #2e3a59);
  font-family: Euclid Circular A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.333px;
  margin-left: 10px;
  margin-top: 13px;
}

.search-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 1rem;
  margin-left: 4rem;
  color: #2e3a59;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  border-radius: 24px;
  background: var(--violet-500, #705df2);
  width: 84px;
  height: 36px;
  color: var(--Basic-100, #fff);
  text-align: center;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-family: Euclid Circular A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: 7px;
  margin-left: 27px;
  border: #705df2;
}

.line {
  width: 360px;
  height: 1px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  opacity: 0.7;
  background: var(--Basic-400, #e4e9f2);
  margin-top: 13px;
}

.head-ul {
  display: none;
}

.btn-responsive {
  display: none;
}

@media screen and (min-width: 1440px) {
  .hamburger {
    display: none;
  }
  .search-logo {
    display: none;
  }
  .b-logo {
    width: 38px;
    height: 48px;
    margin-left: 112px;
    margin-top: 24px;
  }
  .bnetic {
    font-size: 24px;
    line-height: 32px;
    margin-left: 40px;
    margin-top: 32px;
  }
  .head-ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 48px;
    margin-left: 120px;
    margin-top: 36px;
    color: var(--Basic-700, #2e3a59);
    /* Subtitle/S1-R */
    font-family: Euclid Circular A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  .btn-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 24px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
    border-radius: 24px;
    background: var(--violet-500, #705df2);
    color: var(--Basic-100, #fff);
    text-align: center;
    -webkit-font-feature-settings: "clig" off, "liga" off;
            font-feature-settings: "clig" off, "liga" off;
    font-family: Euclid Circular A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 186px;
    height: 48px;
    border: #705df2;
    margin-left: 486px;
    margin-top: 24px;
  }
  .btn {
    display: none;
  }
  .arrow-head {
    margin-left: 12px;
  }
}